name: Main workflow
on:
  workflow_dispatch:
    inputs:
      reason:
        description: 'Reason why it needs to be triggered manually'
        required: false
        default: 'beacuase I say so ;)'
  schedule:
    - cron: "0 */6 * * *"

jobs:
  download:
    name: Fetch data
    runs-on: windows-latest
    
    steps:
      - uses: actions/checkout@v1
      - name: Set up Python
        uses: actions/setup-python@master
        with:
          python-version: 3.8
      - name: Install dependencies
        run: |
          pip install pandas
          pip install --upgrade google-api-python-client
          pip install plotly
      - name: Update data.csv
        env:
          YOUTUBE_API_KEY: ${{ secrets.YOUTUBE_API_KEY }}
        run: |
          python script.py
      - name: Commit data.csv
        run: |
          git config --local user.email "action@github.com"
          git config --local user.name "GitHub Action"
          git add data.csv
          git commit -m "data.csv updated"
      - name: Push changes
        uses: ad-m/github-push-action@master
        with:
          branch: main
          github_token: ${{ secrets.GITHUB_TOKEN }}
          force: true
      
